body{
  padding: 1.5rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
}

a{
  text-decoration: none;
}

a:hover{

}

.main-container, .character-select, .character-detail, .main-header{
  padding: 1rem;
}

.main-container{
  background-color: lightcoral;
  border-color: red;
  border-width: 5px;
  border-style: solid;
}

.main-header{
  background-color: purple;
  border-color: magenta;
  border-width: 3px;
  border-style: solid;
  z-index: 50;
}

.character-select{
  font-size: 1.3rem;
  background-color: lightblue;
  border-color: blue;
  border-width: 3px;
  border-style: solid;
  z-index: 50;
}

.character-detail{
  background-color: lemonchiffon;
  border-color: yellow;
  border-width: 3px;
  border-style: solid;
  z-index: 100;
}

.main-footer{
  padding: 1rem;
  background-color: aquamarine;
  border-color: green;
  border-width: 3px;
  border-style: solid;
  z-index: 100;
}